<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://173.244.1.35/S9269025</property>
    <property name="hibernate.connection.username">S9269025</property>
    <property name="hibernate.connection.password">New2016</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.format_sql">false</property>
    <mapping class="com.capstone.ics.model.Users"/>
    <mapping class="com.capstone.ics.model.Credentials"/>
    <mapping class="com.capstone.ics.model.UserAddresses"/>
    <mapping class="com.capstone.ics.model.Site"/>
    <mapping class="com.capstone.ics.model.InventoryItems"/>
    <mapping class="com.capstone.ics.model.RefItemCategories"/>
    <mapping class="com.capstone.ics.model.SiteItemsQuantity"/>
    <mapping class="com.capstone.ics.model.SiteItemsQuantityId"/>
    <mapping class="com.capstone.ics.model.AuditLog"/>
  </session-factory>
</hibernate-configuration>
